<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.1054.31" targetFramework="net48" />
  <package id="OpenTK" version="3.3.2" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="RJKJSoft.GLOFC" version="1.1.2" targetFramework="net48" />
  <package id="RJKJSoft.QuickJSON" version="2.5.0" targetFramework="net48" />
</packages>