<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1054.31" targetFramework="net48" />
  <package id="NaCl.Net" version="0.1.13" targetFramework="net48" />
  <package id="NetMQ" version="4.0.1.13" targetFramework="net48" />
  <package id="OpenTK" version="3.3.2" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="RJKJSoft.GLOFC" version="1.1.1" targetFramework="net48" />
  <package id="RJKJSoft.QuickJSON" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>