<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net4" userInstalled="true" />
  <package id="Noesis.Javascript" version="0.7.1" targetFramework="net4" userInstalled="true" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net4" userInstalled="true" />
  <package id="OpenTK.GLControl" version="1.1.1589.5942" targetFramework="net4" userInstalled="true" />
</packages>