bin
obj
packages
.vs
*.csproj.user
*.suo
/logs
/Installer/EDDiscovery-cache
/Installer/AnyCPU_DebugSetupFiles
/Installer/EDDiscovery
*/*Secrets.config
/EDDiscovery.v12.suo
*.ncrunch*
/test
/Installer/Setup Files
/Installer/EDDiscovery - Beta-cache
/Installer/EDDiscovery - Beta.back.aip
/Installer/EDDiscovery.back.aip
