[submodule "ExtendedControls"]
	path = ExtendedControls
	url = https://github.com/EDDiscovery/ExtendedControls.git
[submodule "BaseUtilities"]
	path = BaseUtilities
	url = https://github.com/EDDiscovery/BaseUtilities.git
[submodule "ActionLanguage"]
	path = ActionLanguage
	url = https://github.com/EDDiscovery/ActionLanguage.git
[submodule "EliteDangerousCore"]
	path = EliteDangerousCore
	url = https://github.com/EDDiscovery/EliteDangerousCore.git
