[submodule "ExtendedControls"]
	path = ExtendedControls
	url = https://github.com/RadarCZ/ExtendedControls.git
	branch = master
[submodule "BaseUtilities"]
	path = BaseUtilities
	url = https://github.com/EDDiscovery/BaseUtilities.git
[submodule "ActionLanguage"]
	path = ActionLanguage
	url = https://github.com/EDDiscovery/ActionLanguage.git
[submodule "EliteDangerousCore"]
	path = EliteDangerousCore
	url = https://github.com/RadarCZ/EliteDangerousCore.git
	branch = master
[submodule "CAPI"]
	path = CAPI
	url = https://github.com/EDDiscovery/CAPI.git
