* text = auto
[core]
	autocrlf=true

# Fix text files to crlf on output, LF in repo
*.cs eol=crlf
*.sln eol=crlf
*.resx eol=crlf
*.csproj eol=crlf
*.config eol=crlf
*.xml eol=crlf
*.js eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc     diff=astextplain
*.DOC     diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF     diff=astextplain
*.rtf     diff=astextplain
*.RTF     diff=astextplain

