<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1004" Action="Error" />
    <Rule Id="CA1005" Action="Error" />
    <Rule Id="CA1007" Action="Error" />
    <Rule Id="CA1008" Action="Error" />
    <Rule Id="CA1010" Action="Error" />
    <Rule Id="CA1012" Action="Error" />
    <Rule Id="CA1013" Action="Error" />
    <Rule Id="CA1016" Action="Error" />
    <Rule Id="CA1017" Action="Error" />
    <Rule Id="CA1018" Action="Error" />
    <Rule Id="CA1019" Action="Error" />
    <Rule Id="CA1020" Action="Error" />
    <Rule Id="CA1023" Action="Error" />
    <Rule Id="CA1024" Action="Error" />
    <Rule Id="CA1025" Action="Error" />
    <Rule Id="CA1027" Action="Error" />
    <Rule Id="CA1028" Action="Error" />
    <Rule Id="CA1032" Action="Error" />
    <Rule Id="CA1033" Action="Error" />
    <Rule Id="CA1035" Action="Error" />
    <Rule Id="CA1036" Action="Error" />
    <Rule Id="CA1038" Action="Error" />
    <Rule Id="CA1039" Action="Error" />
    <Rule Id="CA1040" Action="Error" />
    <Rule Id="CA1041" Action="Error" />
    <Rule Id="CA1043" Action="Error" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1046" Action="Error" />
    <Rule Id="CA1047" Action="Error" />
    <Rule Id="CA1048" Action="Error" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1050" Action="Error" />
    <Rule Id="CA1052" Action="Error" />
    <Rule Id="CA1053" Action="Error" />
    <Rule Id="CA1057" Action="Error" />
    <Rule Id="CA1058" Action="Error" />
    <Rule Id="CA1059" Action="Error" />
    <Rule Id="CA1060" Action="Error" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1301" Action="Error" />
    <Rule Id="CA1302" Action="Error" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Warning" />
    <Rule Id="CA1306" Action="Error" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1400" Action="Error" />
    <Rule Id="CA1401" Action="Error" />
    <Rule Id="CA1402" Action="Error" />
    <Rule Id="CA1403" Action="Error" />
    <Rule Id="CA1404" Action="Error" />
    <Rule Id="CA1405" Action="Error" />
    <Rule Id="CA1406" Action="Error" />
    <Rule Id="CA1407" Action="Error" />
    <Rule Id="CA1408" Action="Error" />
    <Rule Id="CA1409" Action="Error" />
    <Rule Id="CA1410" Action="Error" />
    <Rule Id="CA1411" Action="Error" />
    <Rule Id="CA1412" Action="Error" />
    <Rule Id="CA1413" Action="Error" />
    <Rule Id="CA1414" Action="Error" />
    <Rule Id="CA1415" Action="Error" />
    <Rule Id="CA1500" Action="Warning" />
    <Rule Id="CA1501" Action="Error" />
    <Rule Id="CA1504" Action="Error" />
    <Rule Id="CA1600" Action="Error" />
    <Rule Id="CA1700" Action="Error" />
    <Rule Id="CA1703" Action="Error" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1708" Action="Error" />
    <Rule Id="CA1712" Action="Error" />
    <Rule Id="CA1713" Action="Error" />
    <Rule Id="CA1714" Action="Error" />
    <Rule Id="CA1715" Action="Error" />
    <Rule Id="CA1716" Action="Error" />
    <Rule Id="CA1719" Action="Error" />
    <Rule Id="CA1720" Action="Error" />
    <Rule Id="CA1721" Action="Error" />
    <Rule Id="CA1722" Action="Error" />
    <Rule Id="CA1724" Action="Error" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1802" Action="Error" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1806" Action="Error" />
    <Rule Id="CA1810" Action="Error" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1813" Action="Error" />
    <Rule Id="CA1814" Action="Error" />
    <Rule Id="CA1815" Action="Error" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1819" Action="Error" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1900" Action="Error" />
    <Rule Id="CA1901" Action="Error" />
    <Rule Id="CA1903" Action="Error" />
    <Rule Id="CA2001" Action="Error" />
    <Rule Id="CA2002" Action="Error" />
    <Rule Id="CA2003" Action="Error" />
    <Rule Id="CA2004" Action="Error" />
    <Rule Id="CA2006" Action="Error" />
    <Rule Id="CA2100" Action="Error" />
    <Rule Id="CA2101" Action="Error" />
    <Rule Id="CA2102" Action="Error" />
    <Rule Id="CA2103" Action="Error" />
    <Rule Id="CA2104" Action="Warning" />
    <Rule Id="CA2105" Action="Error" />
    <Rule Id="CA2106" Action="Error" />
    <Rule Id="CA2107" Action="Error" />
    <Rule Id="CA2108" Action="Error" />
    <Rule Id="CA2109" Action="Error" />
    <Rule Id="CA2111" Action="Error" />
    <Rule Id="CA2112" Action="Error" />
    <Rule Id="CA2114" Action="Error" />
    <Rule Id="CA2115" Action="Error" />
    <Rule Id="CA2116" Action="Error" />
    <Rule Id="CA2117" Action="Error" />
    <Rule Id="CA2118" Action="Error" />
    <Rule Id="CA2119" Action="Error" />
    <Rule Id="CA2120" Action="Error" />
    <Rule Id="CA2121" Action="Error" />
    <Rule Id="CA2122" Action="Error" />
    <Rule Id="CA2123" Action="Error" />
    <Rule Id="CA2124" Action="Error" />
    <Rule Id="CA2126" Action="Error" />
    <Rule Id="CA2130" Action="Error" />
    <Rule Id="CA2131" Action="Error" />
    <Rule Id="CA2132" Action="Error" />
    <Rule Id="CA2133" Action="Error" />
    <Rule Id="CA2134" Action="Error" />
    <Rule Id="CA2135" Action="Error" />
    <Rule Id="CA2136" Action="Error" />
    <Rule Id="CA2137" Action="Error" />
    <Rule Id="CA2138" Action="Error" />
    <Rule Id="CA2139" Action="Error" />
    <Rule Id="CA2140" Action="Error" />
    <Rule Id="CA2141" Action="Error" />
    <Rule Id="CA2142" Action="Error" />
    <Rule Id="CA2143" Action="Error" />
    <Rule Id="CA2144" Action="Error" />
    <Rule Id="CA2145" Action="Error" />
    <Rule Id="CA2146" Action="Error" />
    <Rule Id="CA2147" Action="Error" />
    <Rule Id="CA2149" Action="Error" />
    <Rule Id="CA2151" Action="Error" />
    <Rule Id="CA2200" Action="Error" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2205" Action="Error" />
    <Rule Id="CA2207" Action="Error" />
    <Rule Id="CA2208" Action="Error" />
    <Rule Id="CA2210" Action="Info" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2212" Action="Error" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Error" />
    <Rule Id="CA2215" Action="Error" />
    <Rule Id="CA2216" Action="Error" />
    <Rule Id="CA2217" Action="Error" />
    <Rule Id="CA2218" Action="Error" />
    <Rule Id="CA2219" Action="Error" />
    <Rule Id="CA2220" Action="Error" />
    <Rule Id="CA2221" Action="Error" />
    <Rule Id="CA2222" Action="Error" />
    <Rule Id="CA2223" Action="Error" />
    <Rule Id="CA2224" Action="Error" />
    <Rule Id="CA2225" Action="Error" />
    <Rule Id="CA2226" Action="Error" />
    <Rule Id="CA2227" Action="Warning" />
    <Rule Id="CA2228" Action="Error" />
    <Rule Id="CA2229" Action="Error" />
    <Rule Id="CA2230" Action="Error" />
    <Rule Id="CA2231" Action="Error" />
    <Rule Id="CA2232" Action="Error" />
    <Rule Id="CA2234" Action="Error" />
    <Rule Id="CA2235" Action="Error" />
    <Rule Id="CA2236" Action="Error" />
    <Rule Id="CA2237" Action="Error" />
    <Rule Id="CA2238" Action="Error" />
    <Rule Id="CA2239" Action="Error" />
    <Rule Id="CA2240" Action="Error" />
    <Rule Id="CA2241" Action="Error" />
    <Rule Id="CA2242" Action="Error" />
    <Rule Id="CA2243" Action="Error" />
    <Rule Id="CA5122" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Error" />
    <Rule Id="CS0078" Action="Error" />
    <Rule Id="CS0105" Action="Error" />
    <Rule Id="CS0108" Action="Error" />
    <Rule Id="CS0109" Action="Error" />
    <Rule Id="CS0114" Action="Error" />
    <Rule Id="CS0162" Action="Error" />
    <Rule Id="CS0164" Action="Error" />
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0183" Action="Error" />
    <Rule Id="CS0184" Action="Error" />
    <Rule Id="CS0197" Action="Error" />
    <Rule Id="CS0219" Action="Error" />
    <Rule Id="CS0251" Action="Error" />
    <Rule Id="CS0252" Action="Error" />
    <Rule Id="CS0253" Action="Error" />
    <Rule Id="CS0278" Action="Error" />
    <Rule Id="CS0279" Action="Error" />
    <Rule Id="CS0280" Action="Error" />
    <Rule Id="CS0282" Action="Error" />
    <Rule Id="CS0419" Action="Error" />
    <Rule Id="CS0420" Action="Error" />
    <Rule Id="CS0435" Action="Error" />
    <Rule Id="CS0436" Action="Error" />
    <Rule Id="CS0437" Action="Error" />
    <Rule Id="CS0440" Action="Error" />
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0464" Action="Error" />
    <Rule Id="CS0465" Action="Error" />
    <Rule Id="CS0469" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0473" Action="Error" />
    <Rule Id="CS0612" Action="Error" />
    <Rule Id="CS0618" Action="Error" />
    <Rule Id="CS0626" Action="Error" />
    <Rule Id="CS0628" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
    <Rule Id="CS0652" Action="Error" />
    <Rule Id="CS0657" Action="Error" />
    <Rule Id="CS0658" Action="Error" />
    <Rule Id="CS0659" Action="Error" />
    <Rule Id="CS0660" Action="Error" />
    <Rule Id="CS0661" Action="Error" />
    <Rule Id="CS0665" Action="Error" />
    <Rule Id="CS0672" Action="Error" />
    <Rule Id="CS0675" Action="Error" />
    <Rule Id="CS0684" Action="Error" />
    <Rule Id="CS0693" Action="Error" />
    <Rule Id="CS0728" Action="Error" />
    <Rule Id="CS0809" Action="Error" />
    <Rule Id="CS0811" Action="Error" />
    <Rule Id="CS0824" Action="Error" />
    <Rule Id="CS1030" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1062" Action="Error" />
    <Rule Id="CS1064" Action="Error" />
    <Rule Id="CS1066" Action="Error" />
    <Rule Id="CS1072" Action="Error" />
    <Rule Id="CS1522" Action="Error" />
    <Rule Id="CS1570" Action="Error" />
    <Rule Id="CS1571" Action="Error" />
    <Rule Id="CS1572" Action="Error" />
    <Rule Id="CS1573" Action="Error" />
    <Rule Id="CS1574" Action="Error" />
    <Rule Id="CS1580" Action="Error" />
    <Rule Id="CS1581" Action="Error" />
    <Rule Id="CS1584" Action="Error" />
    <Rule Id="CS1587" Action="Error" />
    <Rule Id="CS1589" Action="Error" />
    <Rule Id="CS1590" Action="Error" />
    <Rule Id="CS1591" Action="Error" />
    <Rule Id="CS1592" Action="Error" />
    <Rule Id="CS1616" Action="Error" />
    <Rule Id="CS1633" Action="Error" />
    <Rule Id="CS1634" Action="Error" />
    <Rule Id="CS1635" Action="Error" />
    <Rule Id="CS1645" Action="Error" />
    <Rule Id="CS1658" Action="Error" />
    <Rule Id="CS1668" Action="Error" />
    <Rule Id="CS1685" Action="Error" />
    <Rule Id="CS1687" Action="Error" />
    <Rule Id="CS1690" Action="Error" />
    <Rule Id="CS1692" Action="Error" />
    <Rule Id="CS1695" Action="Error" />
    <Rule Id="CS1696" Action="Error" />
    <Rule Id="CS1697" Action="Error" />
    <Rule Id="CS1700" Action="Error" />
    <Rule Id="CS1701" Action="Error" />
    <Rule Id="CS1702" Action="Error" />
    <Rule Id="CS1710" Action="Error" />
    <Rule Id="CS1711" Action="Error" />
    <Rule Id="CS1712" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
    <Rule Id="CS1720" Action="Error" />
    <Rule Id="CS1723" Action="Error" />
    <Rule Id="CS1734" Action="Error" />
    <Rule Id="CS1735" Action="Error" />
    <Rule Id="CS1762" Action="Error" />
    <Rule Id="CS1927" Action="Error" />
    <Rule Id="CS1956" Action="Error" />
    <Rule Id="CS1957" Action="Error" />
    <Rule Id="CS1974" Action="Error" />
    <Rule Id="CS1981" Action="Error" />
    <Rule Id="CS1998" Action="Error" />
    <Rule Id="CS2002" Action="Error" />
    <Rule Id="CS2008" Action="Error" />
    <Rule Id="CS2023" Action="Error" />
    <Rule Id="CS2029" Action="Error" />
    <Rule Id="CS2038" Action="Error" />
    <Rule Id="CS3000" Action="Error" />
    <Rule Id="CS3001" Action="Error" />
    <Rule Id="CS3002" Action="Error" />
    <Rule Id="CS3003" Action="Error" />
    <Rule Id="CS3005" Action="Error" />
    <Rule Id="CS3006" Action="Error" />
    <Rule Id="CS3007" Action="Error" />
    <Rule Id="CS3008" Action="Error" />
    <Rule Id="CS3009" Action="Error" />
    <Rule Id="CS3010" Action="Error" />
    <Rule Id="CS3011" Action="Error" />
    <Rule Id="CS3012" Action="Error" />
    <Rule Id="CS3013" Action="Error" />
    <Rule Id="CS3014" Action="Error" />
    <Rule Id="CS3015" Action="Error" />
    <Rule Id="CS3016" Action="Error" />
    <Rule Id="CS3017" Action="Error" />
    <Rule Id="CS3018" Action="Error" />
    <Rule Id="CS3019" Action="Error" />
    <Rule Id="CS3021" Action="Error" />
    <Rule Id="CS3022" Action="Error" />
    <Rule Id="CS3023" Action="Error" />
    <Rule Id="CS3024" Action="Error" />
    <Rule Id="CS3026" Action="Error" />
    <Rule Id="CS3027" Action="Error" />
    <Rule Id="CS4014" Action="Error" />
    <Rule Id="CS4024" Action="Error" />
    <Rule Id="CS4025" Action="Error" />
    <Rule Id="CS4026" Action="Error" />
    <Rule Id="CS7033" Action="Error" />
    <Rule Id="CS7035" Action="Error" />
    <Rule Id="CS7080" Action="Error" />
    <Rule Id="CS7081" Action="Error" />
    <Rule Id="CS7082" Action="Error" />
    <Rule Id="CS7090" Action="Error" />
    <Rule Id="CS7095" Action="Error" />
    <Rule Id="CS8001" Action="Error" />
    <Rule Id="CS8002" Action="Error" />
    <Rule Id="CS8009" Action="Error" />
    <Rule Id="CS8012" Action="Error" />
    <Rule Id="CS8018" Action="Error" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Error" />
    <Rule Id="CS8021" Action="Error" />
    <Rule Id="CS8029" Action="Error" />
    <Rule Id="CS8032" Action="Error" />
    <Rule Id="CS8033" Action="Error" />
    <Rule Id="CS8034" Action="Error" />
    <Rule Id="CS8040" Action="Error" />
    <Rule Id="CS8073" Action="Error" />
    <Rule Id="CS8094" Action="Error" />
    <Rule Id="CS8105" Action="Error" />
    <Rule Id="CS8123" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="Error" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Warning" />
    <Rule Id="IDE0003" Action="Warning" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE0007" Action="Error" />
    <Rule Id="IDE0007WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0008" Action="Error" />
    <Rule Id="IDE0008WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0009" Action="Error" />
    <Rule Id="IDE0009WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="Error" />
    <Rule Id="IDE0013" Action="Error" />
    <Rule Id="IDE0014" Action="Error" />
    <Rule Id="IDE0015" Action="Error" />
    <Rule Id="IDE0016" Action="Error" />
    <Rule Id="IDE0016WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0017" Action="Warning" />
    <Rule Id="IDE0017WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0018" Action="Warning" />
    <Rule Id="IDE0018WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0021" Action="Error" />
    <Rule Id="IDE0021WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0022" Action="Error" />
    <Rule Id="IDE0022WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0023" Action="Error" />
    <Rule Id="IDE0023WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0024" Action="Error" />
    <Rule Id="IDE0024WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0025WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0026WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0027WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0029" Action="Warning" />
    <Rule Id="IDE0029WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0030" Action="Warning" />
    <Rule Id="IDE0030WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0031" Action="Error" />
    <Rule Id="IDE0031WithoutSuggestion" Action="Error" />
    <Rule Id="IDE1005" Action="Warning" />
    <Rule Id="IDE1005WithoutSuggestion" Action="Error" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="Warning" />
    <Rule Id="IDE0010WithoutSuggestion" Action="Error" />
    <Rule Id="IDE0033" Action="Error" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Error" />
  </Rules>
</RuleSet>