
/* Style the article section */
html {
    height: 100%;
}

body
{
    background-color: black;
	font-family: Arial,Helvetica,Sans-serif;
	margin: 0px;
	height: 100%;
}

div.page {
	overflow: auto;
	min-height: 100%;
}

.wrapper
{
    clear: both;
    width: 100%;
}

/* clear the contents after wrapper.. works better than clearing on next item */
.wrapper::after
{
    content: "";
    visibility: hidden;
    min-height: 100%;
    display: block;
    clear: both;
}

.wrapleft
{
    float: left;
    width: 100%;
}

/* this holds the status table */

article
{
    height: auto;
    overflow: auto;
    margin-right: 310px;
    line-height:1em;
}

article table
{
    width: 100%;
    border-collapse: collapse;
}

article table tr
{
    background-color: #000000;
    color: darkorange;
}
article table tr:nth-child(even) {
	background: #1f1f1f;
}
article table tr:nth-child(odd) {
	background: #000000;
}


/* The aside holds the status indicators */

aside
{
    float: Right;
    width: 300px;
    margin-left: -300px;
}
aside div#StatusOther p:nth-child(even) {
	background: #1f1f1f;
}
aside div#StatusOther p:nth-child(odd) {
	background: #000000;
}

/* Common status and action box styling */

#StatusBox, #ActionBox
{
    background-color: black;
    margin-top: 0.5em;
    width: 100%;
}

#ActionBox
{
    border: 1px solid #ffac28;
	margin-bottom: 2px;
}

/* the p element can hold the name of the box, move it relative to give a inline label */

#ActionBox p
{
    color: black;
    position: relative;
    top: -0.5em;
    margin-left: 0.5em;
    display: inline;
    background-color: #ffac28;
	padding: 2px;
}

#StatusBox p
{
    color: darkorange;
	margin: 1px 2px 1px 2px;
}

#ActionBox td
{
    display: inline; /* td's in action box are inline so flow around the actionbox areas */
}

#StatusBox td
{
    display: inline; 
}

/* the img element is the button .. style it */

#StatusBox img, #ActionBox img
{
    padding: 10px;
    border: 1px solid darkorange;
    border-radius: 4px;
	margin: 2px 2px 2px 2px;
}

#StatusBox img
{
    border-radius: 4px;
}

/* class assigned to say selected */

.entryselected
{
    background-color: green;
}

/* class to theme the status buttons */
.edsmetcbuttons
{
    width: 6em;
    margin: 1px 0px 1px 10px;
    line-height: 1;
    background-color: orange;
    border: 1px solid darkorange;
    color: #000;
    text-decoration: none;
}

.tooltip .tooltiptext
{
    margin-left: -58px;
    margin-top: 60px;
    width: auto;
}
