
/* Everyone includes the header, so its an opportunity to add CSS common vars and fonts to everything */

@font-face
{
    font-family: 'Euro Caps'; /* set name */
    src: url('/EUROCAPS.woff') format('woff');
}

@font-face
{
    font-family: 'Zen Dots'; /* set name */
    src: url('/ZenDots-Regular.woff') format('woff');
}

:root
{
    --textcolor: green;
    --backcolor: black;
    --tabcolor: #ff9c08;
    --tabhighlighted: #ffe028;
    --tabhover: #ffbc48;
    --titlecolor: darkorange;
    --tabtext: black;
    --textbuttonback: darkorange;
    --textbuttonborder: orange;
    --textbuttonback: black;
    --actionstext: #000000;
    --actionsbackground: #ffac28;
    --gridborders: rgb(200,128,0);
    --gridbuttonborders: rgb(200,128,0);
    --headerbackground: rgb(40,40,40);
    --scrollbartrack: rgb(40,40,40);
    --scrollthumb: darkorange;
    --scrollthumbhover: rgb(255,160,0);
    --dropdownmenuback: darkorange;
    --dropdownmenutext: black;
    --dropdownmenuhover: #ffe028;

    /*   
    see https://www.w3schools.com/cssref/css_websafe_fonts.php
    */

    --font: 'Tahoma';
    --fontbackup: 'Verdana';

    --headervisibility: block;
}

/* there is nothing in the header, since the two bits below float */
/* use the fixing the float mech to make the header expand to the size of the two floats, usign overflow:auto*/

header {
    padding: 0px;
    margin: 0px;
    background-color: var(--headerbackground);
    color: var(--titlecolor);
    overflow: auto;
    display: var(--headervisibility);
}

/* title */
header h1:first-of-type
{
    float: left;
    width: 70%;
    text-align: left;
    line-height: 1;
    margin: 10px;
    font-size: 20pt;
    font-style: italic;
    font-weight: normal;
    
}

/* logo */
header h1:last-of-type {
    float: right;
    margin: 2px;
}


/* ************************************************** Set up Nav styling */
nav
{
    padding: 0px;
    margin: 0px;
    background-color: var(--headerbackground);
}

nav ul
{
    /* div needs to be inline so it flows */
    display:inline;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    width: 72em;
}

nav ul li
{
    display: inline-block; /* block so we don't constrain height.  float:left also works */
    background-color: var(--tabcolor);
    margin: 0px 0px 0px 0px;
    border-top: 1px solid black;
    border-right: 1px solid rgb(0,0,0);
    border-top-right-radius: 8px;
    border-left: 1px solid black;
    border-top-left-radius: 8px;
}

/* this style gets assigned to the highlighted tab classList and overrides the background-color.  Hover still works though #ffac28; */

.tabhighlighted
{
    background-color: var(--tabhighlighted);
}

/* gets added as you hover */

nav ul li:hover
{
    background-color: var(--tabhover);
}

/* positioning of first tab */
nav ul li:first-child {
    margin: 0px 0px 0px 4px;
}

/* styling of each tab setting height */
nav * a {
    padding: 0.5em;
    line-height: 2em;
    text-decoration: none;
    color: var(--tabtext);
}

/* this class is assigned to the div holding both the menu button AND the menu */

nav .menubutton {
    /* div needs to be inline so it flows against the ul's */
    display: inline;
    /* force it right a bit. Note float:right made it go right side */
    float: right;
    margin-right: 10px;
    /* margin-left: 20px;  */
    /* allow children to position against it */
    position: relative;
}

nav .menubutton img {
    vertical-align: middle;
}

nav .menubutton img:hover {
    background-color: var(--tabhover);
}

/* styling of the main menu */
.navmenu
{
    display: none;
    position: absolute;
    /* relative positioning from nav div. Note right:0px will cause it to do a right menu */
    top:24px;
    right: 0px;
    background-color: var(--dropdownmenuback);
    color: var(--dropdownmenutext);
    z-index: 1;
}

/* styling of each menu line */
.navmenu div
{
    display: inline-block;
    margin: 3px 10px 3px 0px; /* this seems to work for hover */
    width: 100%; /* makes it take up the whole width of div, important for hover */
    white-space: nowrap; /* stop CSS trying to minize width, make it print it all on one line, so autowidth */
}

.navmenu div:hover
{
    background-color: var(--dropdownmenuhover);
}

/* styling of the sub menu */
.submenu
{
    display: none;
    position: absolute;
    background-color: var(--dropdownmenuback);
    color: var(--dropdownmenutext);
    z-index: 1;
}

/* styling of each menu line */
.submenu div
{
    display: inline-block;
    margin: 3px 10px 3px 0px; /* this seems to work for hover */
    width: 100%; /* makes it take up the whole width of div, important for hover */
    white-space: nowrap; /* stop CSS trying to minize width, make it print it all on one line, so autowidth */
}

.submenu div:hover
{
    background-color: var(--dropdownmenuhover);
}

/* ********************************************************** Footer formatting */

footer {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    background-color: var(--headerbackground);
}

footer button
{
    margin: 4px 20px 4px 4px;
    border: 1px solid var(--textbuttonborder);
    border-radius: 8px;
    background-color: var(--textbuttonback);
    color: var(--textbutton);
}

/* Chrome only scrollbar fix */

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: var(--scrollbartrack);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumbhover);
}

a
{
    color:var(--textcolor);
}