
/* popups should be styles with 
    <div class="rightsidednotification" id="scanobjectnotification">
    </div>

*/

.rightsidednotification {
    position: absolute; /* Sit on top of the screen */
    visibility: hidden; /* Hidden by default. Visible on click */
    background: rgb(192,96,0);
    color: black;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(170,80,0);
    border-radius: 6px;
    padding: 4px;
    z-index: 1;
    overflow: auto;
    white-space: pre-wrap;
    width: auto;
    height: auto;
    left: 65%;
    top: 10%;
    max-height: 80%;
    max-width: 30%;
}

.bottomnotification {
    position: absolute; /* Sit on top of the screen */
    visibility: hidden; /* Hidden by default. Visible on click */
    background: rgb(192,96,0);
    color: black;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(170,80,0);
    border-radius: 6px;
    padding: 4px;
    z-index: 1;
    overflow: auto;
    white-space: pre-wrap;
    text-align: center;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    height: auto;
    bottom: 30px;
    max-height: 80%;
    max-width: 80%;
}

