<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NFluent" version="2.0.0" targetFramework="net46" />
  <package id="NUnit" version="3.7.1" targetFramework="net46" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net46" />
  <package id="OpenTK" version="2.0.0" targetFramework="net46" />
</packages>